# Data Fetching

In [58]:
import yfinance as yf

XLC_data = yf.download(
        # tickers list or string as well
        tickers = "XLC",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "max",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1d",

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = False,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = False,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

XLC_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2018-06-19  49.700001  50.060001  49.580002  49.959999  48.118782    16600
2018-06-20  50.450001  50.889000  50.450001  50.580002  48.715939   190000
2018-06-21  50.770000  50.849998  50.200001  50.270000  48.417347   428700
2018-06-22  50.590000  50.610001  50.189999  50.490002  48.629253   181500
2018-06-25  50.230000  50.230000  49.014999  49.450001  47.627579  2509600

In [59]:
XLY_data = yf.download(
        tickers = "XLY",
        period = "max",
        interval = "1d",
    )

XLY_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
1998-12-22  25.312500  25.468750  25.312500  25.468750  19.335157    3700
1998-12-23  25.500000  25.750000  25.468750  25.578125  19.418198   12000
1998-12-24  25.937500  26.046875  25.812500  26.046875  19.774063    1600
1998-12-28  25.921875  25.937500  25.812500  25.812500  19.596132    8600
1998-12-29  25.890625  26.375000  25.890625  26.375000  20.023163    1100

In [60]:
XLP_data = yf.download(
        tickers = "XLP",
        period = "max",
        interval = "1d",
    )

XLP_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
1998-12-22  25.875000  26.531250  25.875000  26.500000  15.358264  150300
1998-12-23  26.796875  28.796875  26.687500  27.140625  15.729540   44000
1998-12-24  27.140625  27.140625  27.000000  27.093750  15.702372   45500
1998-12-28  27.140625  27.156250  26.812500  26.937500  15.611814   25400
1998-12-29  26.953125  27.562500  25.984375  27.531250  15.955930  123500

In [61]:
XLE_data = yf.download(
        tickers = "XLE",
        period = "max",
        interval = "1d",
    )

XLE_data.head()

[*********************100%***********************]  1 of 1 completed

                Open       High       Low      Close  Adj Close  Volume
Date
1998-12-22  23.31250  23.390625  23.18750  23.265625  12.914152   15200
1998-12-23  23.34375  23.750000  23.31250  23.750000  13.183020   67800
1998-12-24  23.81250  23.812500  23.59375  23.625000  13.113632   12300
1998-12-28  23.75000  23.750000  23.34375  23.500000  13.044250   13500
1998-12-29  23.56250  23.734375  23.34375  23.734375  13.174346   22000

In [62]:
XLF_data = yf.download(
        tickers = "XLF",
        period = "max",
        interval = "1d",
    )

XLF_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
1998-12-22  19.052092  19.052092  18.849005  18.937855  11.849174   55887
1998-12-23  18.861698  19.217100  18.861698  19.217100  12.023886   78784
1998-12-24  19.217100  19.344028  19.153635  19.344028  12.103310   43824
1998-12-28  19.331335  19.331335  19.039398  19.090172  11.944478   51948
1998-12-29  19.115557  19.293259  18.887083  19.293259  12.071541  100819

In [63]:
XLV_data = yf.download(
        tickers = "XLV",
        period = "max",
        interval = "1d",
    )

XLV_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open      High        Low     Close  Adj Close  Volume
Date
1998-12-22  24.812500  25.06250  24.812500  25.03125  17.791874    5700
1998-12-23  25.187500  25.59375  25.187500  25.59375  18.191702   18100
1998-12-24  25.625000  25.75000  25.515625  25.75000  18.302746    4900
1998-12-28  25.671875  25.75000  25.375000  25.37500  18.036209   15500
1998-12-29  25.375000  25.93750  25.375000  25.93750  18.436020    5300

In [64]:
XLI_data = yf.download(
        tickers = "XLI",
        period = "max",
        interval = "1d",
    )

XLI_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low     Close  Adj Close  Volume
Date
1998-12-22  23.203125  23.281250  23.203125  23.28125  15.226746     600
1998-12-23  23.453125  23.750000  23.453125  23.68750  15.492444     900
1998-12-24  23.906250  24.015625  23.828125  24.00000  15.696833    1400
1998-12-28  24.000000  24.140625  24.000000  24.12500  15.778589    7400
1998-12-29  24.250000  24.468750  24.250000  24.46875  16.003410    1400

In [65]:
XLB_data = yf.download(
        tickers = "XLB",
        period = "max",
        interval = "1d",
    )

XLB_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
1998-12-22  20.781250  20.828125  20.750000  20.828125  12.260541    1900
1998-12-23  20.968750  21.140625  20.968750  21.046875  12.389310     700
1998-12-24  21.296875  21.531250  21.203125  21.531250  12.674430    1500
1998-12-28  21.500000  21.500000  21.312500  21.343750  12.564063    2500
1998-12-29  21.734375  21.734375  21.734375  21.734375  12.794009     100

In [66]:
XLRE_data = yf.download(
        tickers = "XLRE",
        period = "max",
        interval = "1d",
    )

XLRE_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2015-10-08  30.010000  30.209999  30.010000  30.209999  23.765333    2000
2015-10-09  30.200001  30.200001  30.059999  30.160000  23.726000    4300
2015-10-12  30.420000  30.420000  30.270000  30.350000  23.875467    2300
2015-10-13  30.160000  30.160000  30.160000  30.160000  23.726000     500
2015-10-14  30.160000  30.160000  30.160000  30.160000  23.726000       0

In [67]:
XLK_data = yf.download(
        tickers = "XLK",
        period = "max",
        interval = "1d",
    )

XLK_data.head()

[*********************100%***********************]  1 of 1 completed

                Open       High       Low      Close  Adj Close  Volume
Date
1998-12-22  32.40625  32.500000  31.78125  32.046875  24.469606  300500
1998-12-23  32.75000  32.812500  32.15625  32.812500  25.054201  338300
1998-12-24  32.81250  32.812500  32.56250  32.687500  24.958761  243700
1998-12-28  33.18750  33.187500  32.59375  32.781250  25.030340  309300
1998-12-29  32.93750  33.015625  32.50000  32.875000  25.101923  123800

In [68]:
XLU_data = yf.download(
        tickers = "XLU",
        period = "max",
        interval = "1d",
    )

XLU_data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
1998-12-22  30.250000  30.250000  29.828125  29.828125  12.986412    7900
1998-12-23  29.796875  29.796875  29.640625  29.703125  12.931996   24100
1998-12-24  30.218750  30.312500  30.156250  30.250000  13.170093   23800
1998-12-28  30.187500  30.250000  30.046875  30.093750  13.102063    3100
1998-12-29  30.218750  30.671875  30.218750  30.593750  13.319750   12000

In [69]:
# save downloaded data
XLC_data.to_csv('data/XLC.csv')
XLY_data.to_csv('data/XLY.csv')
XLP_data.to_csv('data/XLP.csv')
XLE_data.to_csv('data/XLE.csv')
XLF_data.to_csv('data/XLF.csv')
XLV_data.to_csv('data/XLV.csv')
XLI_data.to_csv('data/XLI.csv')
XLB_data.to_csv('data/XLB.csv')
XLRE_data.to_csv('data/XLRE.csv')
XLK_data.to_csv('data/XLK.csv')
XLU_data.to_csv('data/XLU.csv')

# LSTM

In [70]:
import numpy as np
import pandas as pd


XLK_data = pd.read_csv('data/XLK.csv', index_col=0)
XLK_data['Return'] = (XLK_data['Close'] / XLK_data['Close'].shift(1)) - 1
XLK_data = XLK_data.drop('Adj Close', axis=1)
XLK_data.head()

                Open       High       Low      Close  Volume    Return
Date
1998-12-22  32.40625  32.500000  31.78125  32.046875  300500       NaN
1998-12-23  32.75000  32.812500  32.15625  32.812500  338300  0.023891
1998-12-24  32.81250  32.812500  32.56250  32.687500  243700 -0.003810
1998-12-28  33.18750  33.187500  32.59375  32.781250  309300  0.002868
1998-12-29  32.93750  33.015625  32.50000  32.875000  123800  0.002860

In [71]:
# convert time series data into cross-sectional data
def ts_split(ts, feature_steps=10, target_steps=1):
    n_obs = len(ts) - feature_steps - target_steps + 1
    X = np.array([ts[idx:idx + feature_steps] for idx in range(n_obs)])
    y = np.array([ts[idx + feature_steps:idx + feature_steps + target_steps]
                  for idx in range(n_obs)])
    return X, y

In [72]:
# preprocessing data
train_start_date = '2013-01-01'
train_end_date = '2019-12-31'
valid_start_date = '2020-01-01'
valid_end_date = '2021-12-31'
test_start_date = '2022-01-01'
test_end_date = '2022-12-02'
# use past 20 days data to predict 5 day ahead
window = 20
ahead = 5

train = XLK_data[train_start_date:train_end_date]
valid = XLK_data[valid_start_date:valid_end_date]
test = XLK_data[test_start_date:test_end_date]

_, y_train = ts_split(train['Return'], feature_steps=window, target_steps=ahead)
_, y_valid = ts_split(valid['Return'], feature_steps=window, target_steps=ahead)
_, y_test = ts_split(test['Return'], feature_steps=window, target_steps=ahead)

X_train, _ = ts_split(train['Open'], feature_steps=window, target_steps=ahead)
X_valid, _ = ts_split(valid['Open'], feature_steps=window, target_steps=ahead)
X_test, _ = ts_split(test['Open'], feature_steps=window, target_steps=ahead)

X_train = np.atleast_3d(X_train)
X_valid = np.atleast_3d(X_valid)
X_test = np.atleast_3d(X_test)

for x in ['High', 'Low', 'Close', 'Volume']:
    X1, _ = ts_split(train[x], feature_steps=window, target_steps=ahead)
    X2, _ = ts_split(valid[x], feature_steps=window, target_steps=ahead)
    X3, _ = ts_split(test[x], feature_steps=window, target_steps=ahead)

    X_train = np.append(X_train , np.atleast_3d(X1), axis=2)
    X_valid = np.append(X_valid, np.atleast_3d(X2), axis=2)
    X_test = np.append(X_test, np.atleast_3d(X3), axis=2)

In [73]:
X_train.shape

(1738, 20, 5)

In [74]:
y_train.shape

(1738, 5)

In [75]:
import tensorflow as tf
import tensorflow.keras as keras
import random as python_random

# define helper function to set the random seed and reset the TensorFlow backend of Keras.
def reset_session(seed=42):
    tf.random.set_seed(seed)
    python_random.seed(seed)
    np.random.seed(seed)
    tf.keras.backend.clear_session()

In [78]:
%%time
reset_session()

model = keras.models.Sequential([
    keras.layers.LSTM(20, return_sequences=True, input_shape=[X_train.shape[1], X_train.shape[2]]),
    keras.layers.LSTM(20),
    keras.layers.Dense(5)
])

model.compile(loss="mse", optimizer="nadam")
early_stopping_cb = keras.callbacks.EarlyStopping(patience=10,
                                                  min_delta=0.01,
                                                  restore_best_weights=True)
run = model.fit(X_train, y_train, epochs=200,
                validation_data=(X_valid, y_valid),
                callbacks=[early_stopping_cb], verbose=0)
pd.DataFrame(run.history).iloc[-11:]

CPU times: total: 15.3 s
Wall time: 8.2 s

        loss  val_loss
0   0.004316  0.000408
1   0.000105  0.000407
2   0.000105  0.000413
3   0.000106  0.000408
4   0.000106  0.000426
5   0.000106  0.000414
6   0.000106  0.000415
7   0.000106  0.000418
8   0.000107  0.000421
9   0.000107  0.000425
10  0.000107  0.000414